@model Octgn.UI.Models.Home.LoginModel
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<form action="/Home/Login" method="post">
    @Html.ValidationSummary()
    <label for="Username">Username</label>
    <input name="Username" value="@Model.Username" />
    <input type="submit" />
</form>