@using Octgn.UI.Resources
<div id="HostGame">
    <h2>Host Game</h2>
    <label>@Text._Layout_HostGame_GameName</label>
    <input id="HostGame_Input_GameName"/>
    <button id="HostGame_Button_Host">@Text.Global_Host</button>
</div>