@using Octgn.UI.Resources
<div id="JoinGame">
    <h2>Join Game</h2>
    <label>@Text.Global_Host</label>
    <input id="JoinGame_Input_Host" />
    <button id="JoinGame_Button_Join">@Text.Global_Join</button>
</div>