@inherits Octgn.UI.WebViewBase<dynamic>
<div id="HostGame">
    <h2>Host Game</h2>
    <label>@RT("_Layout_HostGame_GameName")</label>
    <input id="HostGame_Input_GameName"/>
    <button id="HostGame_Button_Host">@RT("Global_Host")</button>
</div>