_build
/src/Octgn.UI/bin
/src/Octgn.UI/obj
/src/Octgn.UI/bower_components
/src/Octgn.UI/wwwroot/lib
/src/Octgn.Shared/bin
/src/Octgn.Shared/obj
/src/Octgn.Server/bin
/src/Octgn.Server/obj
/src/Octgn.Test/bin
/src/Octgn.Test/obj
/src/Octgn.WindowsClient/bin
/src/Octgn.WindowsClient/obj
/src/wrap
/src/packages
*.suo
/src/.vs
*.user