.link{
    cursor:pointer;
    text-decoration: underline;
}
.link:hover{
    color: darkslateblue;
}

#HostGame, #JoinGame{
    padding: 5px;
    border: 1px solid black;
}
#HostGame label, #JoinGame label{
    font-weight: bold;
}

.ConnectionStatus-NotConnected, .ConnectionStatus-Connected, .ConnectionStatus-Connecting{
    width:16px;
    height:16px;
}

.ConnectionStatus-Connected{
    background-color: greenyellow;
}

.ConnectionStatus-NotConnected{
    background-color: red;
}

.ConnectionStatus-Connecting{
    background-color: orange;
}