.link{
    cursor:pointer;
    text-decoration: underline;
}
.link:hover{
    color: darkslateblue;
}

#HostGame, #JoinGame{
    padding: 5px;
    border: 1px solid black;
}
#HostGame label, #JoinGame label{
    font-weight: bold;
}

.ConnectionStatus-Connected{
    background-color: greenyellow;
}

.ConnectionStatus-NotConnected{
    background-color: tomato;
}

.ConnectionStatus-Connecting{
    background-color: darkorange;
}

#OctgnLoadingDiv{
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    z-index: 10000;
    position:fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;

    color: white;
    font-size: 36px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#OctgnLoadingDiv > div {
    width: 200px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#OctgnLoadingDiv > div .spinner {
    width: 100px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#OctgnLoadingDiv .c1, #OctgnLoadingDiv .c2 {
    background-color: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: cubemove 1.8s infinite ease-in-out;
    animation: cubemove 1.8s infinite ease-in-out;
}

#OctgnLoadingDiv .c2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}